[packages]
Adafruit_GPIO = '*'
Adafruit_SSD1306 ='*'
Pillow="*"
gpiozero="*"
wheel="*"
setuptools="*"
rtmidi="*"
python-rtmidi="*"
mido="*"
serial="*"
#"RPi.GPIO"="*"
[scripts]
start_pi_midi = "python3 -m KeithOS"